    <footer class="auth-foot">
        <div class="foot-links">
            <a href="/404">Privacy</a>
            <a href="/404">Terms</a>
        </div>
        <span>Resurge Analytics &copy; 2026</span>
    </footer>
    <script src="/js/core.js"></script>
</body>
</html>
